.container {
    margin-top: 80px;
}

.container__header {
    margin: 0 auto;
    width: 1500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.4rem;
}

.container__header__link {
    color: black;
    font-size: 1.2rem;
}

.container__header__text {
    font-size: 1.8rem;
}

.container__products {
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
}