.saleHeader {
    border: 1px solid black;
    padding: 2px 0;
    background-color: black;
    text-align: center;
}

.saleHeaderText {
    text-decoration: none;
    font-weight: normal;
    color: white;
    font-size: 1rem;
}

.saleHeaderTextLink {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}