.right {
    padding: var(--m-size);
    font-family: var(--font-bengali);
}

.right h2 {
    margin-bottom: var(--m-size);
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--m-size);
}

.form input {
    padding: 10px;
    border: 1px solid #c5c5c5;
}

.form button {
    padding: 12px;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: border 0.3s ease;
}

.form button:hover {
    border: 1px solid var(--mobby-special);
    cursor: pointer;
}
