.sneakerDetailsContainer {
    width: 1380px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sneakerBigImgContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}

.sneakerSmallImgContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sneakerBigImgs {
    margin-top: 206px;
    margin-bottom: 56px;
}

.sneakerSmallImgs {
    margin-bottom: 53px;
}

.sneakerBigImgs img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sneakerSmallImgs img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sneakerContainerOneFr {
    height: 870px;
}

.sneakerDesc {
    margin-top: var(--l-size);
    position: sticky;
    top: calc(128px + var(--xs-size));
    font-family: var(--font-roboto);
}

.sneakerBrand {
    font-size: var(--m-size);
    margin-bottom: calc(var(--m-size) - var(--s-size));
}

.sneakerName {
    margin: var(--xs-size) 0;
}

.sneakerPrice {
    font-size: var(--m-size);
}

.bagOrWishlist {
    height: 44px;
    display: flex;
    justify-content: space-between;
    font-size: calc(var(--s-size) + 1px);

    margin: var(--xs-size) 0 var(--s-size) 0;
}

.bag {
    width: 420px;
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.2s ease-in-out;
    color: white;
}

.wish {
    border: 1px solid black;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wishHeart {
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bag:hover {
    border-color: var(--mobby-special);
    cursor: pointer;
}

.wish:hover {
    color: var(--mobby-special);
    cursor: pointer;
}

